venv/
.venv/
downloads/*
!downloads/.gitkeep
__pycache__/
*.pyc
build/
*.spec
*.log
assets/*.mov
.DS_Store
.env
.env.local
.env.production
.env.development
*.apk
*.zip
ReClip_Windows_*/
ReClip_Android_*/
out*.err
yt-dlp-error.txt

bin/
dist/
*.exe
